# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Console/RecorridoMatriz/nbproject/private/
/Console/RecorridoMatriz/build/
/Console/HackerRank/nbproject/private/
/Console/HackerRank/build/
/Console/DiagonalDifference/nbproject/private/
/Console/MetodosNumericos/nbproject/private/
/Console/2DArray/nbproject/private/
/Console/2DArray/build/
/Console/Operadores/nbproject/private/
/Console/Operadores/build/
/Console/Examen/nbproject/private/
/Console/Examen/build/